# ========================
# UNITY IGNORE
# ========================
Unity_Project/[Ll]ibrary/
Unity_Project/[Tt]emp/
Unity_Project/[Oo]bj/
Unity_Project/[Bb]uild/
Unity_Project/[Bb]uilds/
Unity_Project/[Ll]ogs/
Unity_Project/[Uu]ser[Ss]ettings/

Unity_Project/*.csproj
Unity_Project/*.sln
Unity_Project/*.unityproj
Unity_Project/*.tmp
Unity_Project/*.user
Unity_Project/*.userprefs

# ========================
# UNREAL IGNORE
# ========================
Unreal_Project/Binaries/
Unreal_Project/DerivedDataCache/
Unreal_Project/Intermediate/
Unreal_Project/Saved/
Unreal_Project/.vs/

Unreal_Project/*.sln
Unreal_Project/*.vcxproj*
Unreal_Project/*.opensdf
Unreal_Project/*.sdf

# ========================
# OS / JUNK
# ========================
.DS_Store
Thumbs.db
.vs/
